%p
  %b Name:
  =h @task.name
%p
  %b Due:
  =h @task.due
%p
  %b Point Value:
  =h @task.point_value
%p
  %b Done:
  =h @task.done
= link_to 'Edit', edit_task_path(@task)
|
= link_to 'Back', tasks_path